@import (reference) 'https://cdn.digitallinguistics.io/less/dlx.less';

#about {

  align-self: center;
  margin: 2rem;
  max-width: 1000px;

  h1 {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 0.5em;
  }

  p,
  li,
  {
    padding-bottom: 0.75em;
  }

}
