@import (reference) 'https://cdn.digitallinguistics.io/less/dlx.less';

#about {

  align-self: center;
  margin: 2rem;
  max-width: 1000px;

  h1 {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 0.5em;
  }

  p,
  li,
  {
    padding-bottom: 0.75em;
  }

}

#publications {

  summary {
    display: inline;
    margin-bottom: 0.125em;
    margin-left: 3rem;
    text-indent: -3rem;
  }

  cite,
  i,
  {
    font-style: italic;
  }

}
