@import (reference) 'https://cdn.digitallinguistics.io/less/dlx.less';

body {
  font-family: 'Fira Sans', 'Arial', sans-serif;
  line-height: 1.5;
}

abbr {
  font-family: 'Fira Mono', 'Monaco', 'Courier New', monospace;
  font-style: normal;
  &::after {
    content: ')';
  }
  &::before {
    content: '(';
  }
}

.banner {

  align-items: center;
  display: flex;
  flex-direction: row;

  header {
    align-items: center;
    flex-grow: 1;
    padding: 2em 0em;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  .wug {
    margin-right: 0.5rem;
    transform: scaleX(-1);
  }

  .wugbot {
    transform: scale(-1, 0.9) translateY(-9%);
  }

}

.bulleted {
  padding-left: 1.25em;
}

dfn {
  font-style: italic;
}

.nav ul {

  background-color: @blue;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.25rem;
  justify-content: space-around;

  li {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
  }

  a {
    text-align: center;
    padding: 0.5em;
  }

  a::after {
    background-image: url('@{cdn}/img/wugbot.svg');
    background-repeat: no-repeat;
    background-size: 4rem;
    content: '';
    height: 4rem;
    right: 0;
    position: absolute;
    transform: translateY(1.5rem);
    transition: transform 0.3s;
    width: 4rem;
  }

  a:hover::after {
    transform: translateY(-1.5rem);
  }

}

p a {
  .link;
}

footer {
  align-items: center;
  background-color: @blue;
  color: white;
  flex-direction: row;
  justify-content: center;
  img { margin: 1rem; }
  p > a { .white-link; }
}

.white-link {
  border-bottom: 0.075em solid transparent;
  color: white;
  &:link { color: white; }
  &:visited { color: white; }
  &:hover { border-bottom: 0.075em solid white; }
  &:visited:hover { border-bottom: 0.075em solid white; }
  &:active { color: white; }
}
