/*
  Styling for the main page layout
*/


// LESS VARIABLES
@cdn:  'https://digitallinguistics.blob.core.windows.net';


// IMPORTS
@import '@{cdn}/less/reset.less';
@import '@{cdn}/less/fonts.less';
@import '@{cdn}/less/colors.less';
@import '@{cdn}/less/variables.less';
@import (reference) '@{cdn}/less/inline.less';
@import (reference) '@{cdn}/less/components.less';


// BASE STYLING
body {
  font-family: var(--font);
  font-size: 100%;
  line-height: 1.5;
}

// apply .link class when anchor is inline
// block elements that tend to have inline content
blockquote, button, caption, dd, dt, figcaption, h1, h2, h3, h4, h5, h6, input, legend, option, output, p, pre, select, textarea,
// other inline elements
abbr, acronym, b, bdo, big, br, cite, code, del, dfn, em, i, ins, kbd, mark, q, samp, s, small, span, strike, strong, sub, sup, time, tt, var,
{
  a { .link; }
}


// ELEMENTS & CLASSES
abbr { .abbr; }

.bulleted { .bulleted; }

cite { .cite; }

dfn { .dfn; }

.nav { .nav; }

.page-title { .page-title; }

.reference-list { .reference-list; }

.section-header { .section-header; }


// STYLING BY DOM
.banner {

  .banner;
  background-color: transparent;
  color: black;
  font-weight: 300;

  div {
    min-width: 0;
    padding: 1rem;
  }

  .wug {
    margin-right: 0.5rem;
    transform: scaleX(-1);
  }

  .wugbot {
    transform: scale(-1, 0.9) translateY(-9%);
  }

}

.nav {

  li {
    position: relative;
    overflow: hidden;
  }

  a,
  a:hover,
  {
    border-bottom: none;
  }

  a::after {
    background-image: url('@{cdn}/img/wugbot.svg');
    background-repeat: no-repeat;
    background-size: 4rem;
    content: '';
    height: 4rem;
    right: 0;
    position: absolute;
    transform: translateY(1.5rem);
    transition: transform 0.3s;
    width: 4rem;
  }

  a:hover::after {
    transform: translateY(-1.5rem);
  }

}

footer {
  .blue-background;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  img { margin: 1rem; }
}
