body {
  font-family: 'Fira Sans';
  line-height: 1.5;
}

.banner {

  align-items: center;
  display: flex;
  flex-direction: row;

  header {
    align-items: center;
    flex-grow: 1;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  .wug {
    margin-right: 0.5rem;
    transform: scaleX(-1);
  }

  .wugbot {
    transform: scale(-1, 0.9) translateY(-9%);
  }

}

@cdn:     'https://cdn.digitallinguistics.io';
@dlxBlue: #3399ff;

.nav ul {

  background-color: @dlxBlue;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.25rem;
  justify-content: space-around;

  li {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
  }

  a {
    text-align: center;
    padding: 0.5em;
  }

  a::after {
    background-image: url('@{cdn}/img/wugbot.svg');
    background-repeat: no-repeat;
    background-size: 4rem;
    content: '';
    height: 4rem;
    right: 0;
    position: absolute;
    transform: translateY(1.5rem);
    transition: transform 0.3s;
    width: 4rem;
  }

  a:hover::after {
    transform: translateY(-1.5rem);
  }

}
