{

  "parserOptions": {
    "ecmaVersion": 7
  },

  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "globals": {},

  "rules": {
    "accessor-pairs": 1,
    "array-callback-return": 2,
    "arrow-body-style": [2, "as-needed"],
    "arrow-parens": [2, "as-needed"],
    "arrow-spacing": [2, { "before": true, "after": true }],
    "block-scoped-var": 1,
    "block-spacing": [2, "always"],
    "callback-return": 2,
    "comma-dangle": [2, "never"],
    "comma-spacing": [2, { "before": false, "after": true }],
    "consistent-return": 0,
    "constructor-super": 2,
    "curly": [2, "all"],
    "dot-location": [2, "property"],
    "handle-callback-err": 2,
    "eqeqeq": 1,
    "func-names": 1,
    "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": 1,
    "new-cap": 2,
    "no-case-declarations": 1,
    "no-class-assign": 2,
    "no-cond-assign": [1, "always"],
    "no-confusing-arrow": 1,
    "no-const-assign": 2,
    "no-constant-condition": 1,
    "no-control-regex": 1,
    "no-div-regex": 1,
    "no-dupe-args": 1,
    "no-dupe-class-members": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-else-return": 1,
    "no-empty": 1,
    "no-empty-character-class": 2,
    "no-empty-function": 2,
    "no-empty-pattern": 2,
    "no-eval": 2,
    "no-ex-assign": 2,
    "no-extra-bind": 2,
    "no-extra-boolean-cast": 1,
    "no-extra-label": 1,
    "no-extra-parens": [1, "all"],
    "no-extra-semi": 2,
    "no-fallthrough": 1,
    "no-floating-decimal": 2,
    "no-func-assign": 1,
    "no-implicit-globals": 2,
    "no-implied-eval": 2,
    "no-inner-declarations": [1, "both"],
    "no-invalid-regexp": 2,
    "no-invalid-this": 2,
    "no-irregular-whitespace": 2,
    "no-lone-blocks": 2,
    "no-lonely-if": 1,
    "no-loop-func": 2,
    "no-magic-numbers": 1,
    "no-native-reassign": 2,
    "no-negated-condition": 1,
    "no-negated-in-lhs": 1,
    "no-nested-ternary": 1,
    "no-new": 2,
    "no-new-func": 2,
    "no-new-require": 2,
    "no-new-wrappers": 2,
    "no-obj-calls": 2,
    "no-octal": 2,
    "no-octal-escape": 2,
    "no-param-reassign": 2,
    "no-path-concat": 2,
    "no-redeclare": 2,
    "no-regex-spaces": 2,
    "no-return-assign": 2,
    "no-self-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 1,
    "no-shadow-restricted-names": 2,
    "no-spaced-func": 2,
    "no-sparse-arrays": 1,
    "no-this-before-super": 2,
    "no-throw-literal": 2,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-unexpected-multiline": 2,
    "no-unmodified-loop-condition": 1,
    "no-unneeded-ternary": 1,
    "no-unreachable": 2,
    "no-unused-expressions": 1,
    "no-unused-vars": 2,
    "no-use-before-define": 1,
    "no-useless-call": 1,
    "no-useless-concat": 2,
    "no-warning-comments": 1,
    "no-whitespace-before-property": 2,
    "object-curly-spacing": [2, "always"],
    "operator-assignment": [1, "always"],
    "prefer-const": 2,
    "prefer-spread": 2,
    "prefer-template": 1,
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "semi-spacing": [2, { "before": false, "after": true }],
    "space-before-function-paren": 2,
    "space-infix-ops": 2,
    "space-unary-ops": [2, {
      "words": true,
      "nonwords": false
    }],
    "spaced-comment": [2, "always"],
    "use-isnan": 2,
    "valid-jsdoc": [2, {
      "prefer": {
        "return": "returns"
      },
      "requireReturn": false,
      "requireParamDescription": false,
      "requireReturnType": true,
      "preferType": {
        "string": "String",
        "object": "Object",
        "function": "Function",
        "number": "Number",
        "promise": "Promise"
      }
    }],
    "valid-typeof": 2,
    "wrap-iife": 2
  }

}
