<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>DLx</title>
  <meta name=author content='Daniel W. Hieber, Patrick J. Hall'>
  <meta name=description content='The Digital Linguistics (DLx) website.'>
  <meta name=keywords content='Digital Linguistics, DLx, linguistics, language documentation, University of California Santa Barbara, UCSB'>

  <link rel=stylesheet href=/css/reset.css charset=utf-8>
  <link rel=stylesheet href=/css/main.css charset=utf-8>

  {{{sections.style}}}

</head>

<body>

  <header id=header>

    <a href=/>
      <div id=banner>
        <img id=logo src=/img/tunnel_black.svg alt='DLx logo'>
        <h1>Digital Linguistics</h1>
      </div>
    </a>

    <nav id=nav>
      <ul>
        <li>
          <a href=/>Home</a>
        </li>
      </ul>
    </nav>

  </header>

  {{{body}}}

  <script src=/js/utils.js charset=utf-8></script>
  <script src=/js/main.js charset=utf-8></script>
  {{{sections.script}}}

</body>
</html>
