<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>DLx</title>
  <meta name=author content='Daniel W. Hieber, Patrick J. Hall'>
  <meta name=description content='The Digital Linguistics (DLx) website.'>
  <meta name=keywords content='Digital Linguistics, DLx, linguistics, language documentation, University of California Santa Barbara, UCSB'>

  {{{sections.style}}}

</head>

<body>
  {{{body}}}
  {{{sections.script}}}
</body>
</html>
