@import 'node_modules/@digitallinguistics/styles/components/blockquote/blockquote.less';
@import 'node_modules/@digitallinguistics/styles/components/bulleted/bulleted.less';
@import 'node_modules/@digitallinguistics/styles/components/numbered/numbered.less';

#about {

  align-self: center;
  max-width:  var(--measure);

  .blockquote {
    margin: 1em 0;
  }

  .bulleted {
    margin-left: 1.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size:   1.5em;
    margin-left: 1.5em;
  }

  .numbered {
    li::before {
      font-size: 1.5em;
      left:      0;
    }
  }

  p {
    margin-bottom: 1em;
  }

}
