<main id=about>

  <section>

    <h2>Introduction</h2>

    <p>
      <dfn>Digital Linguistics</dfn> (<abbr title='Digital Linguistics'>DLx</abbr>) is the science of digital data management for linguistics, including the digital storage, representation, manipulation, and dissemination of linguistic data. It concerns itself with how to represent linguistic data in digital form, as well as best practices for working with that data, using all the benefits of the modern <a href=https://en.wikipedia.org/wiki/Open_Web_Platform rel=noopener>Open Web Platform</a> (<abbr title='Open Web Platform'>OWP</abbr>).
    </p>

    <p>The Digital Linguistics project at the University of California, Santa Barbara has three primary aims:</p>

    <ul>

      <li>
        <p>
          Define a standard data format for storing linguistic data in computer-readable form. This format should be platform- and software-independent (i.e. not restricted to use with Windows or specific software like ELAN), and encode the linguistic concepts that linguists are already familiar with, while still maintaining flexibility and human readability. <a href=https://spec.digitallinguistics.io>You can read more about this format here.</a>
        </p>
      </li>

      <li>
        <p>
          Create a variety of web-based tools that allow linguists to more easily enter, search, and manage their data. All of the DLx tools are open source, and contributions from the community are very welcome. <a href=https://tools.digitallinguistics.io>Click here to get started using DLx tools with your own data.</a>
        </p>
      </li>

      <li>
        <p>
          Educate linguists about best practices in linguistic data management, and how they can apply the concepts of Digital Linguistics to their own work. <a href=http://docling.net/>Click here to begin learning about the use of Digital Linguistics principles in documentary linguistics.</a>
        </p>
      </li>

    </ul>

  </section>


</main>
