{{#contentFor 'head'}}
  <link rel=stylesheet href=/css/bibliography.css>
{{/contentFor}}

<main id=bibliography>

  <h1 class='ui center aligned header'>Digital Linguistics:<br>A bibliography</h1>

  <section>

    <p class='ui basic segment'>
      This is a bibliography of publications relating to Digital Linguistics, broadly construed. It includes any publications that touch on the theory or practice of digital data management for linguistics.
    </p>

    <div class='ui two tiny statistics'>

      <p class='ui purple statistic'>
        <span class=label>References</span>
        <span class=value>{{length references}}</span>
      </p>

      <p class='ui purple statistic'>
        <span class=label>Last Updated</span>
        <span class=value>{{lastUpdated}}</span>
      </p>

    </div>

    <p class='ui warning message'>
      This bibliography is a work in progress, and is being continually updated with new sources. Keep checking back for updates!
    </p>

  </section>

  <section class='ui basic segment'>

    <h2 class='ui dividing header'>References</h2>

    <ul>
      {{#each references}}
        <li>{{> reference}}</li>
      {{/each}}
    </ul>

  </section>

</main>
