#bibliography {

  align-self: center;
  max-width:  var(--measure);

  #download-bibtex {

    margin: auto;

    .icon {
      padding: 0.5em;
    }

    .image {
      height:        1.25em;
      width:         4em;
      margin-bottom: -0.35em;
      margin-right:  -0.35em;
    }

  }

  .introduction {

    display:        flex;
    flex-direction: column;

    p:first-child {
      margin-bottom: 0;
    }

  }

  .message {
    margin-top: 0;
  }

  .references {

    li {
      margin-bottom: 0.5em;
      margin-left:   2.5em;
      text-indent:   -2.5em;
    }

  }

  .statistics {

    justify-content: center;

    .value {
      padding-top: 0.25em;
    }

  }

}
