<nav class=nav>

  <ul class='ui huge stackable blue seven item inverted borderless left right attached menu'>

    <li class='vertically fitted item link {{#if home}}active{{/if}}'>
      <a href='{{#if home}}#{{else}}/{{/if}}' {{#if home}}aria-describedby=current{{/if}}>Home</a>
    </li>

    <li class='vertically fitted item link {{#if about}}active{{/if}}'>
      <a href='{{#if about}}#{{else}}/about{{/if}}' {{#if about}}aria-describedby=current{{/if}}>About</a>
    </li>

    <li class='vertically fitted item link'>
      <a href=https://app.digitallinguistics.io>App</a>
    </li>

    <li class='vertically fitted item link'>
      <a href=https://tools.digitallinguistics.io>Tools</a>
    </li>

    <li class='vertically fitted item link'>
      <a href=https://medium.com/digital-linguistics>Blog</a>
    </li>

    <li class='vertically fitted item link {{#if bibliography}}active{{/if}}'>
      <a href='{{#if bibliography}}#{{else}}/bibliography{{/if}}' {{#if bibliography}}aria-describedby=current{{/if}}>Bibliography</a>
    </li>

    <li class='vertically fitted item link'>
      <a href=https://developer.digitallinguistics.io>Developers</a>
    </li>

  </ul>

  <div hidden id=current>Current Page</div>

</nav>
