{{#section 'style'}}
<style>
  #about {
    align-self: center;
    margin: 2rem;
    max-width: 1000px;
  }

  #introduction li,
  #why-another-app li {
    padding-top: 0.5em;
  }
</style>
{{/section}}

<main id=about>

  <section id=introduction>

    <h1 class=section-header>Introduction</h1>

    <p>
      <dfn>Digital Linguistics (<abbr title='Digital Linguistics'>DLx</abbr>)</dfn> is the science of the computational representation and manipulation of linguistic data. It concerns itself with how to represent linguistic data in a digital form, as well as the best ways for linguists to work with that data, using all the benefits of the modern <a href=https://en.wikipedia.org/wiki/Open_Web_Platform target=_blank rel='noopener noreferrer'>Open Web Platform (<abbr title='Open Web Platform'>OWP</abbr>)</a>.
    </p>

    <p>
      The Digital Linguistics project at the University of California, Santa Barbara, has three primary aims:
    </p>

    <ul class=bulleted>

      <li>
        <p>
          Define a standard data format for storing linguistic data in computer-readable form. This format should be platform-independent, and encode the linguistic concepts that linguists are already familiar with, while still maintaining flexibility. You can read more about this format <a href=http://developer.digitallinguistics.io/spec>here</a>.
        </p>
      </li>

      <li>
        <p>
          Create a variety of tools, utilizing the DLx data format, that allow linguists to more easily enter, search, and manage their data. All of the DLx tools are open source, and contributions from the community are very welcome. Check out the <a href=https://app.digitallinguistics.org/>DLx App</a> to get started with your own data.
        </p>
      </li>

      <li>
        <p>
          Educate linguists about best practices in linguistic data management, and how they can apply the concepts of Digital Linguistics to their own work.
        </p>
      </li>

    </ul>

  </section>

  <section id=why-another-app>

    <h1 class=section-header>Why Another App?</h1>

    <p>
      There are already a number of tools for linguistic analysis, such as <a href=http://www.laurenceanthony.net/software.html target=_blank rel='noopener noreferrer'>Antconc</a>, <a href=https://tla.mpi.nl/tools/tla-tools/elan/ target=_blank rel='noopener noreferrer'>ELAN</a>, and <a href=http://fieldworks.sil.org/flex/ target=_blank rel='noopener noreferrer'>Fieldworks Language Explorer (<abbr title='Fieldworks Language Explorer'>FLEx</abbr>)</a>. So why build yet another application?
    </p>

    <p>
      The advantages of the DLx approach, and the modern web technologies it uses, are numerous:
    </p>

    <ul class=bulleted>

      <li>
        <p>
          Most software written for linguists is platform-specific (i.e. written only for Windows, or Mac). You can't use the software on a different platform, or mobile devices. DLx tools, on the other hand, work with any modern web browser, whether you're using that browser on your desktop computer, your laptop, your tablet, or your phone.
        </p>
      </li>

      <li>
        <p>
          Each piece of software formats its data in different ways, meaning that you can't transfer your data from one program to another without writing scripts or tediously manipulating the data by hand. All DLx tools, on the other hand, use a common, extensible format, that doesn't break when you transfer your data to another tool. This format (called <dfn>JavaScript Object Notation</dfn> or <abbr title='Open Web Platform'>JSON</abbr>) is also the primary data format used on the web today.
        </p>
      </li>

      <li>
        <p>
          Other linguistic software is designed to do one or two things only, so that you constantly have to switch between different programs, and worry about keeping your data in sync. DLx, on the other hand, provides a single web app for all your various tasks, backed by a unified database for your data. All your data stays in sync across different tools. And if the DLx app is missing a feature you need, you or someone else can write a plugin for the app.
        </p>
      </li>

    </ul>
  </section>

  <section class=reference-list>

    <h1 class=section-header>Publications</h1>

    <p>
      Below are a few publications discussing Digital Linguistics or related concepts.
    </p>

    <ul id=publications>
      {{#each docs}}
        {{> reference}}
      {{/each}}
    </ul>

  </section>

</main>
