{{#section 'style'}}<link rel=stylesheet href=/css/account.css charset=utf-8>{{/section}}

<main id=account>

  <h1>Your Account</h1>

  <form action=/account method=POST>

    <label for=firstName>
      <p>First Name (Given Name)</p>
      <input type=text name=firstName value={{user.firstName}}>
    </label>

    <label for=lastName>
      <p>Last Name (Family Name)</p>
      <input type=text name=lastName value={{user.lastName}}>
    </label>

    <label for=affiliation>
      <p>Affiliation</p>
      <input type=text name=affiliation value={{user.affiliation}}>
    </label>

    <label for=email>
      <p>Email</p>
      <input type=email name=email value={{user.email}}>
    </label>

    <button id=updateInfoButton type=submit name=updateInfoButton disabled>Update Information</button>

  </form>

</main>

{{#section 'script'}}
<script>

var enableButton = function (ev) {
  if (ev.target.tagName === 'INPUT') { document.getElementById('updateInfoButton').disabled = false; }
  window.removeEventListener('input', enableButton);
};

window.addEventListener('input', enableButton);

</script>
{{/section}}
