{{#section 'style'}}
<style>
  #error {
    align-items: center;
    padding: 2rem;
  }
</style>
{{/section}}

<main id=error>
  <h1 class=h-section>{{status}}: {{error}}</h1>
  <p>{{{details}}}</p>
</main>
