{{#section 'style'}}<link rel=stylesheet href=/css/login.css charset=utf-8>{{/section}}

<main id=login>

  <a id=banner href=/>
    <img id=bigLogo src=/img/tunnel_black.svg alt='DLx logo'>
  </a>

  <h1>
    <label for=loginToggle class=selected>
      <p>Login</p>
      <input id=loginToggle type=radio name=toggle value=login checked>
    </label>
    <label for=registerToggle>
      <p>Register</p>
      <input id=registerToggle type=radio name=toggle value=register>
    </label>
  </h1>

  <p>Choose a service to log in or register with:</p>

  <ul id=services>
    <li id=onedrive><a href={{authUrls.onedrive}}><img src=/img/onedrive.svg alt='login with onedrive'></a></li>
    <li>Additional login options coming soon!</li>
  </ul>

</main>

{{#section 'script'}}
<script>

  var loginLabel = document.querySelector('#login > h1 > label:first-child');
  var registerLabel = document.querySelector('#login > h1 > label:last-child');
  var loginInput = loginLabel.querySelector('input');
  var registerInput = registerLabel.querySelector('input');
  var labels = [loginLabel, registerLabel];
  var inputs = [loginInput, loginLabel];

  var register = function () {
    if (window.location.query.register) {
      loginLabel.classList.remove('selected');
      registerLabel.classList.add('selected');
      registerCookie();
    } else {
      deregisterCookie();
    }
  };

  var registerCookie = function () { document.cookie = 'register=true;max-age=3600'; };
  var deregisterCookie = function () { document.cookie = 'register=true;expires=Thu, 01 Jan 1970 00:00:01 GMT'; };

  var toggleHeader = function (ev) {
    if (ev.target.tagName === 'INPUT') {

      labels.forEach(function (label) { label.classList.remove('selected'); });
      ev.target.parentNode.classList.add('selected');

      if (ev.target.value === 'register') { registerCookie(); }
      else { deregisterCookie(); }

    }
  };

  document.querySelector('#login > h1').addEventListener('click', toggleHeader);
  window.addEventListener('load', register);

</script>
{{/section}}
