{{#section 'style'}}<link rel=stylesheet href=/css/register.css charset=utf-8>{{/section}}

<main id=register>
  <h1>Create a New Account</h1>

  <form autocomplete action=/register method=POST>

    <input type=hidden name=state value={{state}}>

    <label for=firstName>
      <p>First Name (Given Name)</p>
      <input id=firstName type=text name=firstName required>
    </label>

    <label for=lastName>
      <p>Last Name (Family Name)</p>
      <input id=lastName type=text name=lastName required>
    </label>

    <label for=email>
      <p>Email</p>
      <input id=email type=email name=email required>
    </label>

    <label for=affiliation>
      <p>Affiliation</p>
      <input id=affiliation type=text name=affiliation>
    </label>

    <button id=submit type=submit name=submit>Register</button>

  </form>

</main>
