cite {
  font-style: italic;
}
strong {
  color: #3399ff;
  font-weight: bold;
}
#about {
  padding: 2rem 5rem;
}
#about section {
  padding-bottom: 1rem;
}
#about section dfn {
  font-weight: 500;
  font-size: 1.5rem;
}
#about section p {
  padding-bottom: 1rem;
}
#about section ul {
  list-style: disc outside none;
  padding-left: 1.5rem;
}
#about section ul li {
  display: list-item;
  padding: 0.5rem;
}
#about section h1 {
  font-size: 2rem;
  font-weight: bold;
}
