@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans'), url('http://digitallinguistics.blob.core.windows.net/fonts/FiraSans-Light.woff') format('woff'), url('http://digitallinguistics.blob.core.windows.net/fonts/FiraSans-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Light Italic'), url('http://digitallinguistics.blob.core.windows.net/fonts/FiraSans-LightItalic.woff') format('woff'), url('http://digitallinguistics.blob.core.windows.net/fonts/FiraSans-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium'), url('http://digitallinguistics.blob.core.windows.net/fonts/FiraSans-Medium.woff') format('woff'), url('http://digitallinguistics.blob.core.windows.net/fonts/FiraSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium Italic'), url('http://digitallinguistics.blob.core.windows.net/fonts/FiraSans-MediumItalic.woff') format('woff'), url('http://digitallinguistics.blob.core.windows.net/fonts/FiraSans-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: 'Fira Mono';
  src: local('Fira Mono Regular'), url('http://digitallinguistics.blob.core.windows.net/fonts/FiraMono-Regular.woff') format('woff'), url('http://digitallinguistics.blob.core.windows.net/fonts/FiraMono-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
