#home {
  background-color: rgba(136, 196, 254, 0.2);
  flex-grow: 1;
}
.cards {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0rem;
}
.card {
  border-top: 5px solid #3399FF;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: white;
  color: black;
  margin: 1.5rem;
  padding: 0.5em 1em;
  position: relative;
  transition: box-shadow 0.3s;
  width: 20rem;
}
.card:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 3px 16px rgba(0, 0, 0, 0.15);
}
.card::after {
  background-image: url('https://cdn.digitallinguistics.io/img/wug.svg');
  background-repeat: no-repeat;
  background-size: 5rem;
  content: '';
  height: 7.5rem;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 0.3s ease;
  width: 5rem;
  z-index: -1;
}
.card:hover::after {
  transform: rotate(-20deg) scaleX(-1) translateX(2.5rem);
}
.card a {
  align-items: center;
  display: flex;
}
.card p {
  text-align: center;
}
