body {
  background-color: #3399ff;
}
#header {
  flex-direction: row;
  align-items: center;
}
#header #banner h1 {
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}
#header #logo {
  display: none;
}
#header #white-logo {
  display: flex;
}
#header nav {
  justify-content: flex-end;
}
#header nav ul {
  display: none;
}
#header nav p {
  align-self: flex-end;
}
#header nav ul {
  display: none;
}
#home {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
}
#home > a {
  display: flex;
}
#home > a section {
  flex-direction: row;
  background-color: white;
  border-radius: 0.5rem;
  flex-grow: 1;
  margin: 1rem;
}
#home > a section img {
  align-self: center;
  height: 4.5rem;
  min-height: 4.5rem;
  min-width: 4.5rem;
  width: 4.5rem;
}
#home > a section div {
  padding: 1rem 1rem 1rem 0rem;
}
#home > a section h1 {
  color: #3399ff;
  font-size: 1.5rem;
  font-weight: bold;
}
.desktop #home > a {
  max-width: 20rem;
}
