#footer,
#header {
  display: none;
}
#login {
  align-items: center;
}
#login ul {
  align-items: center;
}
#login #bigLogo {
  height: 10rem;
  padding: 2.5rem;
  width: 10rem;
}
#login #services img {
  height: 5rem;
}
#login h1 {
  background-color: #ccc;
  border-radius: 5px;
  box-shadow: inset 0px 0px 2px black;
  color: white;
  display: flex;
  font-size: 2rem;
  margin: 1rem;
  flex-direction: row;
}
#login h1 label p {
  cursor: pointer;
  padding: 0.5rem;
  text-shadow: 1px 1px 1px black;
}
#login h1 label input {
  display: none;
}
#login h1 label.selected {
  background-color: #3399ff;
  border-radius: 5px;
  box-shadow: inset 0px 0px 3px 0px white;
}
#login h1 label.selected p {
  text-shadow: none;
}
