body {
  font-family: 'Fira Sans', 'Arial', sans-serif;
  line-height: 1.5;
}
abbr {
  font-family: 'Fira Mono', 'Monaco', 'Courier New', monospace;
  font-style: normal;
}
abbr::after {
  content: ')';
}
abbr::before {
  content: '(';
}
.banner {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.banner header {
  align-items: center;
  flex-grow: 1;
  padding: 2em 0em;
  text-align: center;
}
.banner h1 {
  font-size: 2rem;
}
.banner .wug {
  margin-right: 0.5rem;
  transform: scaleX(-1);
}
.banner .wugbot {
  transform: scale(-1, 0.9) translateY(-9%);
}
.bulleted {
  padding-left: 1.25em;
}
dfn {
  font-style: italic;
}
.nav ul {
  background-color: #3399FF;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.25rem;
  justify-content: space-around;
}
.nav ul li {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.nav ul a {
  text-align: center;
  padding: 0.5em;
}
.nav ul a::after {
  background-image: url('https://cdn.digitallinguistics.io/img/wugbot.svg');
  background-repeat: no-repeat;
  background-size: 4rem;
  content: '';
  height: 4rem;
  right: 0;
  position: absolute;
  transform: translateY(1.5rem);
  transition: transform 0.3s;
  width: 4rem;
}
.nav ul a:hover::after {
  transform: translateY(-1.5rem);
}
p a {
  color: #3399FF;
  border-bottom: 0.075em solid white;
}
p a:link {
  color: #3399FF;
}
p a:visited {
  color: #3399FF;
}
p a:hover {
  border-bottom: 0.075em solid #3399FF;
}
p a:active {
  color: #3399FF;
}
footer {
  align-items: center;
  background-color: #3399FF;
  color: white;
  flex-direction: row;
  justify-content: center;
}
footer img {
  margin: 1rem;
}
footer p > a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
footer p > a:link {
  color: white;
}
footer p > a:visited {
  color: white;
}
footer p > a:hover {
  border-bottom: 0.075em solid white;
}
footer p > a:active {
  color: white;
}
.white-link {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.white-link:link {
  color: white;
}
.white-link:visited {
  color: white;
}
.white-link:hover {
  border-bottom: 0.075em solid white;
}
.white-link:active {
  color: white;
}
