#register {
  align-items: stretch;
}
#register h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
}
#register form {
  margin: 1rem;
}
#register button {
  align-self: center;
  margin: 0.5rem;
}
.mobile #register label {
  margin: 0.5rem 0rem;
}
.desktop #register label {
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
}
.desktop #register input {
  flex-grow: 1;
  margin: 0.5rem;
  max-width: 50%;
}
