{{#contentFor 'head'}}
  <link rel=stylesheet href=/css/home.css>
{{/contentFor}}

<main id=home>

  <div class='ui two stackable doubling cards'>

    <section class='ui link card'>
      <a href=https://medium.com/digital-linguistics class=content>

        <h2>The DLx Blog</h2>

        <svg aria-labelledby=title-blog-card height=681px width=681px>
          <title id=title-blog-card>The DLx blog</title>
          <use href=#svg-blog></use>
        </svg>

        <p class=description>Keep up to date with the latest DLx tools and features. Subscribe to new posts. Get notified of upcoming events.</p>

      </a>
    </section>

    <section class='ui link card'>
      <a href=https://developers.digitallinguistics.io class=content>
        <h2>Developers</h2>
        <img src='{{cdn}}/img/programming.svg' alt='The DLx developers site'>
        <p class=description>What to contribute to DLx? What to use DLx tools in your project? Read the developer documentation. Check out the open source code base.</p>
      </a>
    </section>

  </div>

</main>

{{#contentFor 'svg'}}
  {{{svg.blog}}}
  {{{svg.programming}}}
{{/contentFor}}
