{{#section 'style'}}
  <link rel=stylesheet href=/css/home.css type=text/css charset=utf-8>
{{/section}}

<main id=home>

  <a href=http://app.digitallinguistics.org/>
    <section id=app>
      <img src=/img/box_blue.svg alt='DLx app logo'>
      <div>
        <h1>The DLx App</h1>
        <p>Enter, search, and manage your linguistic data and media. Work with texts, lexicons, and media files all in one place. Contribute to the DLx crosslinguistic database.</p>
      </div>
    </section>
  </a>

  <a href=http://data.digitallinguistics.org/>
    <section id=data>
      <img src=/img/browse_blue.svg alt='DLx data explorer logo'>
      <div>
        <h1>Data Explorer</h1>
        <p>Browse public data in the DLx crosslinguistic database. Search for typological patterns. Collect statistics on language data.</p>
      </div>
    </section>
  </a>

  <a href=http://blog.digitallinguistics.org/>
    <section id=blog>
      <img src=/img/blog_blue.svg alt='DLx blog icon' style='height: 2.5rem; width: 2.5rem; margin: 1rem; min-height: 2.5rem; min-width: 2.5rem;'>
      <div>
        <h1>The DLx Blog</h1>
        <p>Keep up to date with the latest DLX tools and features. Subscribe to new posts. Get notified of upcoming events.</p>
      </div>
    </section>
  </a>

  <a href={{baseUrl}}/about>
    <section id=about>
      <img src=/img/info_blue.svg alt='Info icon' style='height: 2.5rem; width: 2.5rem; margin: 1rem; min-height: 2.5rem; min-width: 2.5rem;'>
      <div>
        <h1>About DLx</h1>
        <p>Learn about the science of Digital Linguistics, and how to apply DLx techniques in your own language documentation work. Read publications about DLx.</p>
      </div>
    </section>
  </a>

  <a href={{baseUrl}}/learn>
    <section id=learn>
      <img src=/img/code_blue.svg alt='HTML icon'>
      <div>
        <h1>Learn to Code</h1>
        <p>Learn programming languages like HTML, CSS, JavaScript &amp; JSON, and how to use them Write your own DLx tools.</p>
      </div>
    </section>
  </a>

  <a href=http://developer.digitallinguistics.org/>
    <section id=dev>
      <img src=/img/computer_blue.svg alt='Computer icon' style='height: 2.5rem; width: 2.5rem; margin: 1rem; min-height: 2.5rem; min-width: 2.5rem;'>
      <div>
        <h1>Developers</h1>
        <p>Want to contribute to DLx? Read the documentation on each of the different DLx projects. Check out our open source code.</p>
      </div>
    </section>
  </a>

</main>
