<footer class='footer ui inverted blue segment left right attached'>

  <a class=octicon-link href=https://github.com/digitallinguistics rel=noopener>
    <svg class=octicon aria-labelledby=title-octicon-footer height=48px width=48px>
      <title id=title-octicon-footer>GitHub octicon logo</title>
      <use href=#svg-octicon-white xlink:href=#svg-octicon-white></use>
    </svg>
  </a>

  <p><a href=https://github.com/digitallinguistics>View Digital Linguistics on GitHub</a></p>

</footer>
