<header class=banner>

  <svg id=wugbot-banner class=wugbot aria-labelledby=title-wugbot-banner height=190px width=129px>
    <title id=title-wugbot-banner>DLx wugbot logo</title>
    <use href=#svg-wugbot xlink:href=#svg-wugbot></use>
  </svg>

  <div>
    <h1 class='ui header'><a href=https://digitallinguistics.io/>Digital Linguistics (DLx)</a></h1>
    <p>The science of digital data management for linguistics</p>
  </div>

  <svg class=wug aria-labelledby=title-wug-banner height=187px width=115px>
    <title id=title-wug-banner>DLx wug logo</title>
    <use href=#svg-wug xlink:href=#svg-wug></use>
  </svg>

</header>
