{{#section 'style'}}<link rel=stylesheet href=/css/myapps.css charset=utf-8>{{/section}}

<main id=myapps>

  <section id=apps>
    <h1>My Apps</h1>

    <table>
      <thead>
        <tr><td>Application Name</td><td>Application ID</td></tr>
      </thead>
      <tbody>
        {{#each apps}}
          <tr><td>{{appName}}</td><td>{{id}}</td></tr>
        {{/each}}
      </tbody>
    </table>
  </section>

  <section id=registration>
    <h1>Register a New App</h1>

    <form action=/developer method=POST>
      <label for=appName>
        <p>Application Name:</p>
        <input type=text name=appName>
      </label>
      <button type=submit name=submitButton>Register Application</button>
    </form>
  </section>

</main>
