{{#section 'style'}}
  <link rel=stylesheet type=text/css href=/css/myapps.css charset=utf-8>
{{/section}}

<main id=apps>

  <section id=app-list>

    <h1>My Apps</h1>

    <table>

      <thead>
        <tr><td>Application Name</td><td>Application Id</td></tr>
      </thead>

      <tbody>
        {{#each apps}}
          <tr data-id={{id}}><td>{{name}}</td><td>{{id}}</td></tr>
        {{/each}}
      </tbody>

    </table>

  </section>

  id
  name
  permissions
  redirects
  (permitted) scopes
  secret

  <section id=registration>
    <h1>Register a New App</h1>

    <form action=/developer method=POST>
      <label for=appName>
        <p>Application Name:</p>
        <input type=text name=appName>
      </label>
      <button type=submit name=submitButton>Register Application</button>
    </form>
  </section>

</main>
