{{#section 'style'}}
  <link rel=stylesheet href=//{{domain}}/css/developer.css type=text/css charset=utf-8>
{{/section}}

<main id=developer>

  <section>
    <a href=http://blog.digitallinguistics.org/tag/developers/>
      <h1>Developer Blog</h1>
      <p>
        Check out all the latest announcements about updates to our code and new releases.
      </p>
    </a>
  </section>

  <section>
    <a href=/spec>
      <h1>The DLx Data Format</h1>
      <p>
        Learn about the DLx data format for representing linguistic data in JSON, and read the full specification.
      </p>
    </a>
  </section>

  <section>
    <a href=/api>
      <h1>API</h1>
      <p>
        Creating a third-party app that uses DLx data? Read up on how to use our API.
      </p>
    </a>
  </section>

  <section>
    <a href=/app>
      <h1>The DLx App</h1>
      <p>
        We're always looking to add new features and plugins to our data management app. Check out the code and contribute!
      </p>
    </a>
  </section>

  <section>
    <a href=/sdks>
      <h1>Tools &amp; SDKs</h1>
      <p>
        Libraries and SDKs for working with DLx data.
      </p>
    </a>
  </section>

  <section>
    <a href=https://github.com/digitallinguistics>
      <h1>Open Source Code</h1>
      <p>
        All of our code is open source. Check it out on GitHub.
      </p>
    </a>
  </section>

  <section>
    <a href=/apps>
      <h1>App Management</h1>
      <p>
        Create and manage your third-party applications, and get credentials for accessing the API.
      </p>
    </a>
  </section>

</main>
