<main id=tools>

  <h1>Tools &amp; SDKs</h1>

  <p>
    DLx makes a number of tools and SDKs available to developers, to assist in working with DLx data or tools.
  </p>

  <section>

    <h2>Libraries</h2>

    <p>
      Libraries include classes and methods for working with linguistic objects in DLx format. Includes classes for linguistic objects such as a <code>Language</code>, and methods such as <code>tokenize()</code>, etc.
    </p>

    <ul>
      <li><a href=https://github.com/digitallinguistics/dlx-js>JavaScript</a></li>
      <li><a href=https://github.com/digitallinguistics/dlx-py>Python</a></li>
    </ul>

  </section>

  <section>

    <h2>SDKs for Accessing the API</h2>

    <p>
      API SDKs include a number of convenience methods for authenticating with and accessing resources from the DLx database.
    </p>

    <ul>
      <li><a href=https://github.com/digitallinguistics/dlx-api-js>JavaScript</a></li>
      <li><a href=https://github.com/digitallinguistics/dlx-api-py>Python</a></li>
    </ul>
  </section>

</main>
