<!DOCTYPE html>
<html lang=en dir=ltr>

  <head>

    {{!-- Essential Metadata --}}
    <meta charset=utf-8>
    <meta name=viewport content='width=device-width, initial-scale=1'>
    <title>{{#if title}}{{title}} | {{/if}}DLx</title>

    {{!-- Non-Essential Metadata --}}
    <meta name=author content='Daniel W. Hieber'>
    <meta name=description content='The Digital Linguistics (DLx) website'>
    <meta name=keywords content='digital linguistics, DLx, linguistics, digital humanities'>
    <meta name=rating content=general>
    <meta name=robots content='index,follow'>
    <meta name=subject content='Digital Linguistics'>
    <meta name=theme-color content=#007AE6>

    {{!-- Linked Assets --}}
    <link rel=apple-touch-icon href=img/tunnel_256x256.png>
    <link rel=apple-touch-startup-image href=img/wug.png>
    <link rel=me href=https://danielhieber.com type=text/html>
    <link rel='shortcut icon' href=favicon.ico type=image/x-icon>

    {{!-- Head Content for Specific Pages --}}
    {{#block 'head'}}{{/block}}

  </head>

  <body>

    {{{page}}}

    {{!-- SVG Images for Specific Pages --}}
    {{#block 'svg'}}{{/block}}

    {{!-- Scripts for Specific Pages --}}
    {{#block 'script'}}{{/block}}

  </body>

</html>
