@import './typography.less';
@import 'node_modules/flexbox-reset/flexbox-reset.less';
@import 'node_modules/@digitallinguistics/styles/globals/colors.less';
@import (reference) 'node_modules/@digitallinguistics/styles/globals/classes.less';
@import (reference) 'node_modules/@digitallinguistics/styles/components/link/link.less';
@import (reference) 'node_modules/@digitallinguistics/styles/components/skip-link/skip-link.less';
@import './temp.less';

:focus {
  outline: 0.1rem dashed currentColor;
}

.banner {

  align-items:     center;
  flex-direction:  row;
  justify-content: space-between;
  text-align:      center;
  width:           100%;

  @media (max-width: 40em) {
    .subtitle,
    .wug,
    .wugbot {
      display: none;
    }
  }

}

body {
  font-family: var(--font);
  line-height: 1.5;
  overflow-x:  hidden;
}

.footer {

  align-items:      center;
  background-color: var(--blue);
  flex-direction:   row;
  justify-content:  center;

  a {
    color: white;
  }

  a::after {
    display: none;
  }

  a:not([href*='digitallinguistics.io']) {
    margin-right: 0;
  }

  p {
    padding: var(--text-padding-lg);
  }

  p:hover a {
    color:                   white !important;
    text-decoration:         underline !important;
    text-underline-position: under !important;
  }

  @media (max-width: 40em) {
    flex-direction: column;
  }

}

.link {

  .link;

  &:not([href*='digitallinguistics.io']) {
    .external-link;
  }

}

main {
  flex-direction: column;
  flex-grow:      1;
  padding:        var(--space-lg);
}

.menu {

  flex-flow:       row wrap;
  justify-content: space-between;

  @media (max-width: 40em) {
    flex-direction: column;
  }

}

.nav {

  background-color: var(--blue);
  box-shadow:       0em 0.1em 0.1em #CCC;
  color:            white;
  font-size:        var(--text-md);
  top:              0;
  z-index:          2;

  a {

    position: relative;

    &::after {
      background-image:  url(img/wugbot.svg);
      background-repeat: no-repeat;
      background-size:   4rem;
      content:           '';
      height:            4rem;
      right:             -2rem;
      position:          absolute;
      transform:         translateY(1.5rem);
      transition:        transform 0.3s;
      width:             4rem;
    }

    &:hover {
      text-decoration:         underline;
      text-underline-position: under;
    }

    &:hover::after {
      transform: translateY(-1.5rem);
    }

  }

  .current {

    background-color: var(--light-blue);

    a {
      text-decoration:         underline;
      text-underline-position: under;
    }

  }

  li {
    align-items: center;
    flex-grow:   1;
    overflow:    hidden;
    padding:     var(--text-padding-lg);
    text-align:  center;
  }

  @media (min-width: 49.99em) {
    position: sticky;
  }

}

.octicon {

  margin: var(--space);

  @media (max-width: 40em) {
    margin-bottom: -0.5em;
  }

}

.page-title {
  font-size: var(--text-xxxl);
}

.skip-link {
  .skip-link;
}

.subtitle {
  font-size: var(--text-lg);
}

.titles {
  margin:  auto;
  padding: var(--text-padding-lg);
}

.visually-hidden {
  .visually-hidden;
}

.wug {
  margin-right: var(--space-xs);
  transform:    scaleX(-1);
}

.wugbot {
  transform: scale(-1, 0.9) translateY(-9%);
}
