<!DOCTYPE html>
<html lang=en dir=ltr>

  <body>

    {{> nav/nav}}
    {{{body}}}
    {{> footer/footer}}

    {{!-- SVG Images for Main Layout --}}
    {{{svg.octicon-white}}}
    {{{svg.wug}}}
    {{{svg.wugbot}}}

  </body>

</html>
