@componentsPath: 'node_modules/@digitallinguistics/styles/components';

@import (reference) '@{componentsPath}/bulleted/bulleted.less';
@import (reference) '@{componentsPath}/button/button.less';
@import (reference) '@{componentsPath}/cite/cite.less';
@import (reference) '@{componentsPath}/paragraph/paragraph.less';
@import (reference) '@{componentsPath}/warning/warning.less';

#bibliography {
  align-self: center;
  max-width:  var(--measure);
}

.bulleted {
  .bulleted;
  margin-left: 1.5em;
}

.bibtex-icon {
  height:        1.5em;
  margin-bottom: -0.5em;
  width:         5em;
}

.button {
  .button;
  padding: var(--text-padding-lg);
}

cite { .cite; }

h2 {
  border-bottom: 0.025em solid silver;
  font-size:     2em;
  margin-bottom: 0.5em;
}

.introduction {
  margin-bottom: var(--space);
}

.label {
  font-variant:   small-caps;
  font-weight:    bold;
  text-transform: uppercase;
}

.page-title {
  align-self:    center;
  font-size:     var(--text-xl);
  margin-bottom: var(--space);
  text-align:    center;
}

.references {

  .bulleted;

  li {
    margin-bottom: var(--space);
  }

}

.ref { .hanging; }

.statistic {
  align-items: center;
  display:     flex;
  text-align:  center;
}

.statistics {
  flex-direction:  row;
  justify-content: space-around;
}

.value {
  color:     var(--purple);
  font-size: var(--text-xl);
}

.warning {
  .warning;
  margin: var(--space);
}
