@import (reference) './public/less/dlx.less';

#account {
  padding: 2rem;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  form {
    font-size: 1.25rem;

    label {
      padding: 0.5rem;
    }

    input {
      .field;
    }

    #buttons {
      align-items: center;

      button {
        .button;
        align-items: center;
        margin: 0.5rem;
      }

      #deleteAccountButton {
        background-color: @errorRed;
      }

    }

  }

}

.desktop #account {
  align-items: center;

  form {
    max-width: 75%;

    label {
      .row;
      align-items: center;
      justify-content: space-between;

      p + input {
        margin-left: 2rem;
      }

    }

    #buttons {
      .row;
      justify-content: center;

      #deleteAccountButton {
        order: 1;
      }

      #updateAccountButton {
        order: 2;
      }

    }

  }

}
