@import (reference) './public/less/dlx.less';

body {
  overflow-x: hidden;

}

#white-logo {
  display: none;
}

#header {
  justify-content: space-between;

  #banner {
    .row;
    align-items: center;

    #logo, #white-logo {
      padding: 1rem;
    }

    h1 {
      font-size: 2rem;
    }

  }

  nav {
    background-color: @wugbotBlue;
    color: white;
    font-size: 1.5rem;
    padding: 0rem 1.5rem 0rem 0.5rem;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);

    li, p {
      padding: 0.5rem;
    }

    p {
      white-space: nowrap;
    }

  }

}

#error {
  align-items: center;
  padding: 1rem;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0rem;
  }
}

.mobile {
  nav {
    align-items: stretch;

    li {
      border-bottom: 1.5px solid white;
    }

  }

}

.desktop {
  nav {
    .row;
    align-items: center;
    justify-content: space-between;

    ul {
      .row;
      flex-wrap: wrap;
    }

  }

}
